*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-size: 1.2rem;
    font-weight: 600;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 5vh;
}
section{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}
a{
    color: black;
    text-decoration: none;
}
.up-nav{
    height: 10vh;
    font-size: 1.3em;
}
.title{
    font-size: 1.5em;
}
.right_contents{
    display: flex;
    justify-content: space-between;
    width: 23%;
    margin-left: auto;
}

.find_nav{
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.2em;
    text-align: center;
}
.find_nav p{
    font-size: 0.4em;
    font-weight: 100;
}

.recommend{
    height: 31vh;
    width: 100vw;
    border-bottom: 3px solid rgb(239, 239, 239);
    border-top: 3px solid rgb(239, 239, 239);
    font-size: 0.8em;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 15px;
}
.center{
    margin: auto;
    font-size: 1.3em;
}

.open_chat{
    height: 31vh;
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: 0.8em;
    color: gray;
}
.open_chat_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.open_chat_content{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.mini{
    width: 20px;
}
.big{
    width: 120px;
    border: 1px solid black;
    border-radius: 10px;
}
.main_tag{
    color: black;
}
.active{
    color: #eaa2ba;
}

.heart{
    position: absolute;
    bottom: 20vh;
    right: 7vw;
    background-color: rgba(0, 0, 0, 0.464);
    border: 1px solid black;
    border-radius: 40px;
    color: white;
    padding: 3px;
    font-size: 0.8em;
}
.down{
    position: absolute;
    bottom: 5vh;
    left: 35vw;
    height: 30px;
    width: 30px;
    margin: 10px 0 0 10px;
    background-color: #ec6c6c;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 1.2rem;
    animation-name: event;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
    border-top: 3px solid rgb(239, 239, 239);
    margin-top: auto;
    font-size: 1.7em;
    background-color: rgb(248, 248, 248);
}
.foot{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 20px;
}
.foot:hover{
    animation-name: bigger;
    background-color: #d5d5d5;
}
@keyframes bigger{
    0%{
        width: 100%;
    }
    50%{
        width: 110%;
    }
    100%{
        width: 100%;
    }
}
@keyframes event{
    0%{
        margin-bottom: 0;
    }
    50%{
        margin-bottom: 10px;
    }
    100%{
        margin-bottom: 0px;
    }
}